link(rel="stylesheet",href="/libs/css/bootstrap.min.css")
link(rel="stylesheet",href="/css/style.css")
script(src="/libs/js/jquery.js")
script(src="/libs/js/bootstrap.min.js")
script(src="/js/common.js")